<%= form_for(@floor) do |f| %>
  <% if @floor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
      <% @floor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :piso %><br>
    <%= f.number_field :piso %>
  </div>
  <div class="field">
    <%= f.label :puestos %><br>
    <%= f.number_field :puestos %>
  </div>
  <div class="field">
    <%= f.label :ocupados %><br>
    <%= f.number_field :ocupados %>
  </div>
  <div class="field">
    <%= f.label :disponibles %><br>
    <%= f.number_field :disponibles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
