<p id="notice"><%= notice %></p>

<h1>Listing Floors</h1>

<table>
  <thead>
    <tr>
      <th>Piso</th>
      <th>Puestos</th>
      <th>Ocupados</th>
      <th>Disponibles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floors.each do |floor| %>
      <tr>
        <td><%= floor.piso %></td>
        <td><%= floor.puestos %></td>
        <td><%= floor.ocupados %></td>
        <td><%= floor.disponibles %></td>
        <td><%= link_to 'Show', floor %></td>
        <td><%= link_to 'Edit', edit_floor_path(floor) %></td>
        <td><%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor', new_floor_path %>
