<p id="notice"><%= notice %></p>

<p>
  <strong>Piso:</strong>
  <%= @floor.piso %>
</p>

<p>
  <strong>Puestos:</strong>
  <%= @floor.puestos %>
</p>

<p>
  <strong>Ocupados:</strong>
  <%= @floor.ocupados %>
</p>

<p>
  <strong>Disponibles:</strong>
  <%= @floor.disponibles %>
</p>

<%= link_to 'Edit', edit_floor_path(@floor) %> |
<%= link_to 'Back', floors_path %>
