<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title>Notify</title>
<style type="text/css">
</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
		
			<table width="960" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-top: 50px; margin-bottom: 100px;">
				<tr>
					<td width="960">
						
						<table width="960" border="0" cellpadding="0" cellspacing="0" align="center">
							<tr>
								<td width="960" bgcolor="#ffffff" style="border: 1px solid #e7eeee; border-radius: 5px;">
									<table width="960" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-top: 40px;">
										<tr>
											<td width="960" style="padding-bottom: 40px; border-bottom: 1px solid #e7eeee;">
												<center>Factura de Cobro</center>
											</td>
										</tr>
										<tr>
											<td width="960" style="font-size: 39px; color: #65707a; text-align: center; font-family: 'proxima_nova_softmedium', Helvetica, Arial, sans-serif; line-height: 48px; padding-top: 40px;">
											Con Fecha: <%= @reserva.fecha %>

											</td>
										</tr>
									</table>
									<table width="960" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-top: 60px; margin-bottom: 60px;">
										<tr>

											<td width="546"><center><img src="http://www.new.omslighting.com/public/upload/images/tornado-night-parking-house-underground-parking.jpg" alt="" border="0"></center><center><img src="http://www.rocketway.net/themebuilder/demo_template/panorama/images/shadow.jpg" alt="" border="0"></center></td>
											<td width="4"></td>
										</tr>
									</table>
									<table width="960" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#65707a">
										<tr>
	
											<td width="408" height="100" style="font-size: 16px; color: #ffffff; text-align: left; font-family: 'proxima_nova_softregular', Helvetica, Arial, sans-serif; line-height: 24px;">
											<a href="mailto:support@rocketway.net" style="color: #ffffff;">support@estacionamiento.net</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>
			
		</td>
	</tr>
</table>

