<p id="notice"><%= notice %></p>
<h1>Listing Reservas</h1>
<%if session[:user_id]==2%>
<table class="table">
  <thead>
    <tr>
      <th>Numpiso</th>
      <th>Fecha</th>
      <th>Horas</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.numpiso %></td>
        <td><%= reserva.fecha %></td>
        <td><%= reserva.horas %></td>
        <td><%= reserva.user.username %></td>
        <td><%= link_to 'Calcular Tarifa', :calcular_reservas, class: "nav_links" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%else%>
  <table class="table">
  <thead>
    <tr>
      <th>Numpiso</th>
      <th>Fecha</th>
      <th>Horas</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.numpiso %></td>
        <td><%= reserva.fecha %></td>
        <td><%= reserva.horas %></td>
        <td><%= reserva.user.username %></td>
        <td><%= link_to 'Show', reserva %></td>
        <td><%= link_to 'Destroy', reserva, method: :delete, data: { confirm: 'Esta seguro que desea cancelar su reserva?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Reservar Puesto', new_reserva_path %>
<%end%>



