<p id="notice"><%= notice %></p>

<p>
  <strong>Numpiso:</strong>
  <%= @reserva.numpiso %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @reserva.fecha %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @reserva.horas %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @reserva.user.username, @reserva.user %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
