<!DOCTYPE html>
<html>
<head>
  <title>RubySource User Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="Main_Header">
		<h1>Ruby Source</h1>
		<%unless session[:user_id]%>


			<ul class="nav">
				<h3 style="">TuEstacionamiento</h3>
				<li><%= link_to :Signup , :signup_users, class: "nav_links"%></li>
				<li style="display:inline"><%= link_to :Login , :users , class: "nav_links"%></li>	
			</ul>
		<%else%>

			<% if session[:user_id] == 1 %>
			<ul class="nav">
								<h3 style="">TuEstacionamiento</h3>
				<li><%= link_to :Administrar_Pisos, :administrar_pisos_sessions, class: "nav_links" %> </li>
				<li><%= link_to :Administrar_Cuentas , :administrar_cuentas_sessions, class: "nav_links" %> </li>
				
				<li><%= link_to :Logout , :logout_sessions, class: "nav_links" %></li>	
			</ul>
			<% elsif session[:user_id] == 2 %>
					<ul class="nav">
								<h3 style="">TuEstacionamiento</h3>
				<li><%= link_to :Reservas , :reservas , class: "nav_links"%></li>	
				<li><%= link_to :Logout , :logout_sessions, class: "nav_links" %></li>	
			</ul>
			<% else %>
			<ul class="nav">
								<h3 style="">TuEstacionamiento</h3>
				<li><%= link_to :Home , :users, class: "nav_links" %> </li>
				<li><%= link_to "Actualizar Perfil" , :profile_sessions, class: "nav_links" %> </li>
				<li><%= link_to "Mi Perfil" , :setting_sessions, class: "nav_links" %> </li>
				<li><%= link_to "Reservar Piso!" , :reservas, class: "nav_links" %> </li>
				<li><%= link_to :Logout , :logout_sessions, class: "nav_links" %></li>	
			</ul>
			<% end %>
		<%end%>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>