<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table">

<%if session[:user_id]==1%>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.reservas.count %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New User', new_user_path %>
<%end%>
<%if session[:user_id]==2%>

Bienvenido Operator!
    <% end %> 



