<% @page_title = "UserAuth | Signup" -%>
<div class= "Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

    <p>          
      <%= t".username"%>:</br> <%= f.text_field :username%>
    </p>

    <p>
      <%= t".email"%>:</br> <%= f.text_field :email%>
    </p>

    <p>      
      <%= t".password"%>:</br> <%= f.password_field :password%>
    </p>

    <p>     
      <%= t".confirmation"%>:</br> <%= f.password_field :password_confirmation%>
    </p>

    <%= f.submit :Signup %>
  <% end %>

  <% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
</div>