<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<% if @user.reservas.empty? %>
	No hay reservas registradas
	<% else %>
	<% @user.reservas.each do |c| %>
	Reserva en el piso: <%= link_to c.numpiso, c %>

	<% end %>
	<% end %>
 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
