
<% if session[:user_id] == 1 %>
<h2 class='User_Header'><%=@current_user.username%>	
<%else%>
<% if session[:user_id] == 2 %>
<h2 class='User_Header'>
<%=@current_user.username%> </h2>

<% else %>
<h2 class='User_Header'>
<%=@current_user.username%> </h2> 

<%end%>
<%end%>
