


<%= form_for(@current_user) do |f| %>
<div class= "Sign_Form">
  <h1>Actualiza Tus datos!</h1>
    <p>          
      Username:</br> <%= f.text_field :username%>
    </p>

    <p>
      Email:</br> <%= f.text_field :email%>
    </p>

    <p>      
      Password:</br> <%= f.password_field :password%>
    </p>

    <p>     
      Password Confirmation:</br> <%= f.password_field :password_confirmation%>
    </p>

    <%= f.submit :Actualizar, class: "btn btn-primary"  %>
  <% end %>

</div>